@import url(/src/shared/css/commons.css);
@import url(/src/shared/css/colors.css);



.MuiInputBase-root{
  margin-bottom: 40px;
}

h1{
  font-weight: 200;
}

h3{
  font-weight: 200;
  font-size: medium;
}

.header-title{
  text-align: center;
  bottom: 200px;
}

InputText label{
  color: #000;
}

.forgot-password{
  display: block;
  text-align: right !important;
  margin-left: auto;
  margin-top: -30px !important;
  margin-bottom: -15px !important;
  color: var(--neutral-color-2);
  font-size: 0.9rem;
  cursor: pointer;
}

.forgot-password:hover{
  text-decoration: underline;
}