.pagination-container {
  width: calc(100% - 2vw);
  height: 5vh;
  position: absolute;
  bottom: 2vh;
  left: 1vw;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  
  padding: 0 16px;
  border-top: 1px solid #E5E7EB;
  
  opacity: 1;
  box-sizing: border-box;
}

.pagination-info {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.pagination-buttons {
  display: flex;
  gap: 8px;
}