@import '../../../styles/css/colors.css';

.btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease, transform 0.15s ease;
  font-family: "Inter", sans-serif;
}

/* Tamanhos */
.btn-sm {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
}

.btn-md {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}

.btn-lg {
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
}

/* Variantes usando suas variáveis de cor */
.btn-primary {
  background: var(--primary-color);
  color: var(--neutral-color-0);
  border-radius: 8px;
}

.btn-primary:hover {
  background: var(--secondary-color);
}

.btn-secondary {
  background: var(--quaternary-color);
  color: var(--neutral-color-1);
  border-radius: 8px;
}

.btn-secondary:hover {
  background: var(--tertiary-color);
  color: var(--neutral-color-0);
  border-radius: 8px;
}

.btn-outline {
  height: 38px;
  margin: 9px;
  background: transparent;
  color: var(--button-color);
  text-decoration: underline;
  border-radius: 8px;
}

.btn-outline:hover {
  color: var(--neutral-color-1);
}

.btn-danger {
  background: #dc2626;
  color: var(--neutral-color-0);
  border-radius: 8px;
}

.btn-danger:hover {
  background: #b91c1c;
}

/* Efeito ao clicar */
.btn:active {
  transform: scale(0.97);
}
