@import url(/src/shared/css/colors.css);

/* ---------- Linha base do conector ---------- */
.qonto-connector-line {
  border-top-width: 3px;
  border-radius: 1px;
  width: 70%;
  height: 3px;
  background-color: var(--color-background);
  position: relative;
  overflow: hidden;
}

/* ---------- Barra animada ---------- */
.qonto-connector-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--button-color); /* sua cor principal */
  transition: width 0.6s ease-in-out;
}

/* ---------- Quando ativo ou completo, anima preenchimento ---------- */
.qonto-connector-line-active::after,
.qonto-connector-line-completed::after {
  width: 100%;
  background-color: var(--button-color);
}

/* ---------- Step icon ---------- */
.qonto-step-icon {
  color: #eaeaf0;
  display: flex;
  height: 22px;
  align-items: center;
}

.qonto-step-icon-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
}

.qonto-step-icon-completed {
  color: var(--button-color);
  font-size: 18px;
}

.qonto-step-icon-active {
  color: var(--button-color);
}
