:root {
  --primary-color: #134074ff;
  --secondary-color: #13315cff;
  --button-color: #007ea7;
  --quaternary-color: #8da9c4ff;
  --neutral-color-0: #f9fafb;
  --neutral-color-1: #111827;
  --neutral-color-2: #6b7280;
}
